{% extends "base.html" %} 
{% load static tailwind_tags %}
{% load tailwind_filters %}
{% block title %}
addproduct
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% tailwind_css %}
<div class="container my-6 rounded-3xl bg-amber-400 flex justify-center font-mono ">
    <form method="post" class="w-full  text-lg italic">
        <fieldset>
            <legend class="text-center border-bottom my-5">Add</legend>
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group flex justify-center">
                <button class="btn bg-blue-500 hover:bg-blue-600 w-[15rem]" type="submit">Post</button>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}