{% extends "base.html" %}
{% load static tailwind_tags %}
{% block title %}
index
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% tailwind_css %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning {{ message.tags }} alert-dismissible fade show" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}
<div class="container flex flex-col my-5">
<div class="flex justify-center">
  <h1 class="text-3xl overflow-hidden hidden sm:block whitespace-nowrap animate-typing">All products are here</h1>
</div>
  <div class="md:grid-style xl:grid-cols-4 flex flex-col items-center">
    {% for inventory in inventories %}
    <div class="card m-4 bg-blue-300 rounded-3xl box-border p-3 border-solid border-orange-700" style="width: 18rem;">
      <h4 class="card-title text-center mt-3">Product Name</h4>
      <div style="font-size: 10vh;" class="text-center"><span><i class="fa-brands fa-product-hunt"></i></span>
      </div>
      <h5 class="text-center">{{ inventory.name }}</h5>
      <button class="my-2 flex self-center btn bg-green-700 hover:bg-green-800"
        onclick="window.location=`{% url 'per_product' inventory.id %}`">Details</button>
      <button class="btn flex self-center bg-orange-500 hover:bg-orange-600"
        onclick="window.location=`{% url 'order_product' inventory.id %}`">
        <svg class="w-3.5 h-3.5 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
          <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
        </svg>Order</button>
      <button class= "flex self-center text-white bg-purple-700 hover:bg-purple-800 focus:outline-none focus:ring-4 focus:ring-purple-300 font-medium rounded-full text-sm px-5 py-2.5  mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900 text-center"
        onclick="window.location=`{% url 'ordermessages' inventory.id %}`">Response</button>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}