{% extends "base.html" %} 
{% load static tailwind_tags %}
{% block title %}
login
{% endblock %}
{% block content %}
{% load tailwind_filters %}
{% tailwind_css %}
<div class="container my-[10vw] bg-green-300 rounded-3xl flex justify-center w-[20vw] ">
    <form method="post" class="box-border">
        <fieldset>
            <legend class="text-center border-bottom my-5">Login</legend>
            {% csrf_token %}
            
            {{ form|crispy }}
            <div class="form-group flex justify-center">
                <button class="btn bg-blue-500 hover:bg-blue-600" type="submit">Login</button>
            </div>
            <div class="form-group flex justify-center">
            <a class="btn bg-blue-500 hover:bg-blue-600 hover:text-white" href="shop/signup" role="button">Signup</a>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}