{% extends "base.html" %} 
{% load static tailwind_tags %}
{% load tailwind_filters %}
{% block title %}
login
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% tailwind_css %}
<div class="container my-6 bg-orange-300 rounded-3xl flex justify-center font-mono ">
    <form method="post" class="w-full w=[15vw] text-lg italic">
        <fieldset>
            <legend class="text-center border-bottom my-5">Order_Details</legend>
            {% csrf_token %}
            <div class="form-group">
                {{ form|crispy }}
            </div>
            <div class="form-group flex justify-center">
                <button class="btn  bg-blue-500 hover:bg-blue-600 w-[8vw]" type="submit">Post</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}